<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luiza Lopes - Fotografia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- Nova navegação fixa -->
    <nav class="header-nav">
        <ul class="nav-menu">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#sobre">Sobre a Marca</a></li>
            <img src="{{ url_for('static', filename='images/logobranco.png') }}" alt="Logo Luiza Lopes" class="logo">
            <li><a href="#galeria">Galeria</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>