{% extends "base.html" %}

{% block content %}
<section id="inicio">
    <!-- Conteúdo da seção inicial -->
</section>

<section id="sobre">
    <!-- Conteúdo da seção sobre -->
</section>

<section id="estilos">
    <!-- Conteúdo da seção estilos -->
</section>

<section id="galeria">
    <div class="categories-grid">
        {% for category in categories %}
        <div class="category-card">
            <a href="{{ url_for('category', category_id=category.id) }}" target="_blank">
                <h2>{{ category.name }}</h2>
                {% if category.preview %}
                <img src="{{ category.preview }}" alt="{{ category.name }}">
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section id="contato">
    <!-- Conteúdo da seção contato -->
</section>
{% endblock %}